---
layout: markdown_page
title: "Engineering Compensation Roadmaps"
suppress_header: true
---

# <%= compensation_roadmap.name %> Compensation Roadmap

## Link

<a href="<%= compensation_roadmap.role_path %>"><%= compensation_roadmap.role_path %></a>

## Benchmark

<b><%= find_role_by_description(compensation_roadmap.role_path).salary %></b> at the <b>intermediate level</b> in <b>San Francisco, CA USA</b>

## Grades

<table>
  <tr>
    <th style="width:25%;">Attribute</th>
    <th>Grade</th>
    <th>Comment</th>
  </tr>
  <tr>
    <td>Recruiting</td>
    <td style="font-weight:bold; text-align:center;"><%= color_code_grades(compensation_roadmap.grades.recruiting.grade) %></td>
    <td><%= compensation_roadmap.grades.recruiting.comment %></td>
  </tr>
  <tr>
    <td>Employee Satisfaction</td>
    <td style="font-weight:bold; text-align:center;"><%= color_code_grades(compensation_roadmap.grades.employee_satisfaction.grade) %></td>
    <td><%= compensation_roadmap.grades.employee_satisfaction.comment %></td>
  </tr>
  <tr>
    <td>External Comparables</td>
    <td style="font-weight:bold; text-align:center;"><%= color_code_grades(compensation_roadmap.grades.external_comparables.grade) %></td>
    <td><%= compensation_roadmap.grades.external_comparables.comment %></td>
  </tr>
  <tr>
    <td>Internal Comparables</td>
    <td style="font-weight:bold; text-align:center;"><%= color_code_grades(compensation_roadmap.grades.internal_comparables.grade) %></td>
    <td><%= compensation_roadmap.grades.internal_comparables.comment %></td>
  </tr>
  <tr>
    <td>Bonus</td>
    <td style="font-weight:bold; text-align:center;"><%= color_code_grades(compensation_roadmap.grades.bonus.grade) %></td>
    <td><%= compensation_roadmap.grades.bonus.comment %></td>
  </tr>
</table>

<b><span style="color:green;">A</span></b> = People are happy, we easily meet our business goals, and we compare favorably to peer companies.
<b><span style="color:green;">B</span></b> = Most people are happy, but we can be always be better.
<b><span style="color:orange;">C</span></b> = People are split but we think we know what we need to do but we need to get it approved.
<b><span style="color:red;">D</span></b> = Most people are upset, we're not meeting our business goals, and have ideas but no consensus.
<b><span style="color:red;">F</span></b> = Everyone is upset, we're badly missing our business goals, and we don't know how to fix it.

## Recommendation

As of <b><%= compensation_roadmap.recommendation.date.strftime('%B %e, %Y') %></b> we beleive we should advocate for the following:
<ul>
<% compensation_roadmap.recommendation.recommendations.each do |recommendation| %>
  <li><%= recommendation %></li>
<% end %>
</ul>
